@model FinalProjectAl1.Models.Request

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestShortId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestShortId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestRank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestRank)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestEmailAdd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestEmailAdd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestContactPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestContactPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestUnitIdentifier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestUnitIdentifier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestAssignedTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestAssignedTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestTaskDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestTaskDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestArchive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestArchive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RequestTaskId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
