@model FinalProjectAl1.Data.RequestType

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RequestType</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Request_DateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Request_DateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Request_FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Request_FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Request_LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Request_LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Request_EmailAdd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Request_EmailAdd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Request_TeamSelect)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Request_TeamSelect)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Request_TaskDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Request_TaskDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Request_TaskId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
