@model IEnumerable<FinalProjectAl1.Data.RequestType>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Tasks</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Request_DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request_FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request_LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request_EmailAdd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request_TeamSelect)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request_TaskDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Request_DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Request_FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Request_LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Request_EmailAdd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Request_TeamSelect)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Request_TaskDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Request_TaskId" class="btn btn-warning">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Request_TaskId"class="btn btn-primary">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Request_TaskId"class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
